.Container {
  z-index: 1;
}
.AboutMe {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 240px;
  margin: 0 auto;
}

.SocailLinkWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
